<div id="show-landlord">
  <div id="back-arrow">
<!--    <img src="/images/back-arrow.png">-->
    <%= form_tag root_path, method: "get", remote: true do %>
      <%= hidden_field_tag :search, params[:search_back] %>
      <%= image_submit_tag("/images/backarrow.png", :class=>"submit-back") %>
    <% end %>
  </div>
  <div id="show-body">
    <% @landlord = Landlord.find(id) %>
    <div class="show-name">
      <%= @landlord.first_name %>
      <%= @landlord.last_name %>
    </div>

    <div class="show-area">
      <%= @landlord.city %>,
      <%= @landlord.state %>
    </div>
  <!--  <div class="spacer" id="spacer-4"></div>-->
    <div class="spacer" id="spacer-4"></div>
    <div class="spacer" id="spacer-4"></div>
      <% if @landlord.reviews.count()  > 0 %>
        <% overall_score = (@landlord.reviews.average(:org_score) + @landlord.reviews.average(:comm_score) + @landlord.reviews.average(:isre_score))/3 %>
      <div class="overall-score">
        <%= '%.2f' % overall_score %>
        <br/>
        <strong>Overall Score </strong>
      </div>
      <div class="spacer" id="spacer-4"></div>
      <div class="spacer" id="spacer-4"></div>
      <div class="scores">
          <div class="org-score">
            <%= '%.2f' % @landlord.reviews.average(:org_score) %><br/>
            <strong>Organization Score</strong><br/>
            <div>
              The organization score is a measure of how organized the landlord is. This includes things such as x, y, and z.
            </div>
          </div>
          <div class="com-score">
            <%= '%.2f' % @landlord.reviews.average(:comm_score) %><br/>
            <strong>Communication Score</strong><br/>
            <div>
              The communication score is a measure of how well a landlord communicates. This includes things such as x, y, and z.
            </div>
          </div>
          <div class="isre-score">
            <%= '%.2f' % @landlord.reviews.average(:isre_score) %> <br/>
            <strong>Issue Resolution Score</strong><br/>
            <div>
              The issue resolution score is a measure of how quickly and effectively the landlord solves problems pertenant to the tenants living situation. This includes things such ass x, y, and z.
            </div>
          </div>
        </div>
      <% end %>
    </p>
    <%#= params %>
    <% if user_signed_in? && current_user.admin? %>
      <div class="edit-back">
        <%= link_to 'Edit', edit_landlord_path(@landlord) %>
      </div>
    <% end %>
  <!--  <p id="notice"><%#= notice %></p>-->
<!--    <div id="spacer-4"></div>-->
<!--    <div class="spacer" id="spacer-4"></div>-->
<!--    <div class="spacer" id="spacer-4"></div>-->
    <div id="reviews">
      <div class="line"></div>
      <div id="header">
        <br>
        <h1>Reviews</h1>
        <%= link_to "New Review", new_landlord_review_path(@landlord) %>
        <br>
      </div>
      <div class="line"></div>

      <table>
        <tbody>
        <% @landlord.reviews.each do |review| %>
          <tr>
            <td> name: </td>
            <td style="font-style: italic;"><%= review.user.username %></td>
          </tr>
          <tr>
            <td><%= review.body %></td>
            <td><%= '%.1f' % review.org_score %></td>
            <td><%= '%.1f' % review.comm_score %></td>
            <td><%= '%.1f' % review.isre_score %></td>
            <td><%= link_to 'Show', landlord_review_path(@landlord, review) %></td>
            <% if (user_signed_in? && (current_user.id == review.user_id)) %>
              <td><%= link_to 'Edit', edit_landlord_review_path(@landlord,review) %></td>
              <td><%= link_to 'Delete', review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          </tr>
        <% end %>
        </tbody>
      </table>

      <br>
    </div>
  </div>
</div>

