<div id="show-landlord">
  <div id="back-arrow">
<!--    <img src="/images/back-arrow.png">-->
    <%= form_tag root_path, method: "get", remote: true do %>
      <%= hidden_field_tag :search, params[:search_back] %>
      <%= image_submit_tag("/images/backarrow.png", :class=>"submit-back") %>
    <% end %>
  </div>
  <div id="show-body">
    <% @landlord = Landlord.find(id) %>
    <div class="show-name">
      <%= @landlord.first_name %>
      <%= @landlord.last_name %>
    </div>

    <div class="show-area">
      <%= @landlord.city %>,
      <%= @landlord.state %>
    </div>
  <!--  <div class="spacer" id="spacer-4"></div>-->
    <div class="spacer" id="spacer-4"></div>
    <div class="spacer" id="spacer-4"></div>
      <% if @landlord.reviews.count()  > 0 %>
        <% overall_score = (@landlord.reviews.average(:org_score) + @landlord.reviews.average(:comm_score) + @landlord.reviews.average(:isre_score))/3 %>
      <div class="overall-score">
        <%= '%.2f' % overall_score %> / 5
        <br/>
        <strong>Overall Score </strong>
      </div>
      <div class="spacer" id="spacer-4"></div>
      <div class="spacer" id="spacer-4"></div>
      <div class="scores">
          <div class="org-score">
            <%= '%.2f' % @landlord.reviews.average(:org_score) %><br/>
            <strong>Organization Score</strong><br/>
            <div>
              The organization score is a measure of how organized the landlord is. This includes things such as x, y, and z.
            </div>
          </div>
          <div class="com-score">
            <%= '%.2f' % @landlord.reviews.average(:comm_score) %><br/>
            <strong>Communication Score</strong><br/>
            <div>
              The communication score is a measure of how well a landlord communicates. This includes things such as x, y, and z.
            </div>
          </div>
          <div class="isre-score">
            <%= '%.2f' % @landlord.reviews.average(:isre_score) %> <br/>
            <strong>Issue Resolution Score</strong><br/>
            <div>
              The issue resolution score is a measure of how quickly and effectively the landlord solves problems pertenant to the tenants living situation. This includes things such ass x, y, and z.
            </div>
          </div>
        </div>
      <% end %>
    </p>
    <%#= params %>
    <% if user_signed_in? && current_user.admin? %>
      <div class="edit-back">
        <%= link_to 'Edit', edit_landlord_path(@landlord) %>
      </div>
    <% end %>
  <!--  <p id="notice"><%#= notice %></p>-->
<!--    <div id="spacer-4"></div>-->
<!--    <div class="spacer" id="spacer-4"></div>-->
<!--    <div class="spacer" id="spacer-4"></div>-->
    <div id="reviews">
      <div class="line"></div>
      <div id="header">
        <br>
        <h1>Reviews</h1>
        <%# if user_signed_in? && ((Review.where(:user_id => current_user.id) & Review.where(:landlord_id => @landlord.id)) != nil) %>
        <% if user_signed_in? && (Review.where('reviews.user_id = ? AND reviews.landlord_id = ?', current_user.id, @landlord.id).length == 0) %>
          <div id="spacer-n"></div>
          <div class="new-review">
            <%= link_to "Add Review", new_landlord_review_path(@landlord) %>
          </div>
        <% elsif !user_signed_in? %>
          <div id="spacer-n"></div>
          <div class="new-review">
            <%= link_to "Add Review", new_landlord_review_path(@landlord) %>
          </div>
        <% end %>
      </div>
      <div class="line"></div>
      <div style="position: relative; display: block; float: none;">
        <% @landlord.reviews.each do |review| %>
          <div id="spacer-n"></div>
          <div class="review">
            <div class="score-box">
              Organization:
              <div class="score"><%= '%.1f' % review.org_score %></div>
            </div>
            <div class="score-box">
              Communication:
              <div class="score"><%= '%.1f' % review.comm_score %></div>
            </div>
            <div class="score-box">
              Issue Resolution:
              <div class="score"><%= '%.1f' % review.isre_score %></div>
            </div>
            <br>
            <br>
<!--            <div class="spacer" style="height: 5px"></div>-->
            <div style="line-height: normal;"><%= review.body %></div>
            <br>
            <div> by  </div>
            <% if review.anon %>
              <div style="font-style: italic;">Anonymous</div>
            <% else %>
              <div style="font-style: italic;"><%= review.user.username %></div>
            <% end %>
            <% if (user_signed_in? && (current_user.id == review.user_id)) %>
              <div><%= link_to 'Edit', edit_landlord_review_path(@landlord,review) %></div>
              <div><%= link_to 'Delete', review, method: :delete, data: { confirm: 'Are you sure?' } %></div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>




<!--      <table>-->
<!--        <tbody>-->
        <%# @landlord.reviews.each do |review| %>
<!--          <td> name: </td>-->
<!--          <td style="font-style: italic;"><%#= review.user.username %></td>-->
        <%# end %>

<!--          <tr>-->
<!--            <td> name: </td>-->
<!--            <td style="font-style: italic;"><%#= review.user.username %></td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td><%#= review.body %></td>-->
<!--            <td><%#= '%.1f' % review.org_score %></td>-->
<!--            <td><%#= '%.1f' % review.comm_score %></td>-->
<!--            <td><%#= '%.1f' % review.isre_score %></td>-->
<!--            <td><%#= link_to 'Show', landlord_review_path(@landlord, review) %></td>-->
            <%# if (user_signed_in? && (current_user.id == review.user_id)) %>
<!--              <td><%#= link_to 'Edit', edit_landlord_review_path(@landlord,review) %></td>-->
<!--              <td><%#= link_to 'Delete', review, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
            <%# end %>
<!--          </tr>-->
        <%# end %>
<!--        </tbody>-->
<!--      </table>-->

    <br>
  </div>
</div>


